<div class="row col-sm-12">
    <h3 class="heading" ng-cloak>{{ page_title }}</h3>
</div>
<div class="row" ng-cloak">
    <div class="col-sm-12 col-md-12" ng-init="buying_orders()">
        <div class="col-sm-12">
            <div class="w-box" id="w_sort01">
                <div class="w-box-header">
                    <div class="pull-left">
                        Errors
                    </div>
                </div>
                <div class="w-box-content cnt_a">
                    <div id="main-content">
                        <h3 class="text text-danger">Errors !!! </h3>
                        <div>
                        	Unfortunately, You are not authorized to view this page. 
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
