<div class="row col-sm-12">
    <h3 class="heading" ng-cloak>{{ page_title }}</h3>
</div>
<div class="row" ng-cloak ng-init="init_employeelist()">
    <div class="col-sm-12 col-md-12">
        <div class="col-sm-8">
            <div class="w-box" id="w_sort01">
                <div class="w-box-header">
                    <div class="pull-left">
                        Total Employees: <span class="act act-warning">{{filtered.length}}</span>
                    </div>
                    <div class="pull-right">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle btn-success btn-xs" data-toggle="dropdown" href="#" target="_self">
                                <i class="glyphicon glyphicon-cog"></i> Action <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-if="loginUser.emp_role==1"><a data-toggle="modal" href="#add-employee-modal" target="_self"><span class="glyphicon glyphicon-plus-sign"></span> Add</a></li>
                                <li ng-if="loginUser.emp_role==1"><a style="cursor:pointer;"  target="_self" ng-click="remove_employee(0, 'index_page', 'selected')"><span class="glyphicon glyphicon-trash"></span> Delete Seleted</a></li>
                                <li ng-if="loginUser.emp_role==1"><a style="cursor:pointer;" target="_self" ng-click="remove_employee(0, 'index_page', 'all')"><span class="glyphicon glyphicon-repeat"></span> Delete All</a></li>
                                <li><a style="cursor: pointer;" target="_self" ng-click="reloadData()"><span class="glyphicon glyphicon-refresh"></span> Refresh </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-box-content cnt_a">
                    <div id="main-content">
                        <div class="row">
                            <div class="col-sm-4 text-left">
                                <input type="text" class="form-control" placeholder="Search" ng-model="search_filter">
                            </div>
                            <div class="col-sm-8 text-right">
                                <select class="inline-search" style="width: 25%;" ng-model="num_of_items" name="num_of_items" ng-options="num.id as num.value for num in num_of_items_arr ">
                                    <option value="">Show</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="overflow-x: auto;">
                                <div class="col-sm-12 text-center">
                                    <dir-pagination-controls
                                            direction-links="true" auto-hide="false"
                                            boundary-links="true" >
                                    </dir-pagination-controls>
                                </div>
                                <table class="table table-responsive table-bordered">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Image </th>
                                        <th class="th-pointer" ng-click="sort('employee_name')">Name <span class="glyphicon glyphicon-sort-icon"  ng-show="sortKey=='employee_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                        <th class="th-pointer" ng-click="sort('contact_person')">Role<span class="glyphicon glyphicon-sort-icon"  ng-show="sortKey=='contact_person'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                        <th class="th-pointer" ng-click="sort('email_address')">Email Address<span class="glyphicon glyphicon-sort-icon"  ng-show="sortKey=='email_address'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                        <th>Active</th>
                                        <th>Actions</th>
                                        
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-if="employees.length == 0 || filtered.length == 0">
                                        <td colspan="6">No data found.</td>
                                    </tr>
                                    <tr ng-class-odd="'bg-color1'" dir-paginate="user in filtered = (users| orderBy : sortKey : reverse | filter : search_filter  | itemsPerPage : num_of_items) " ng-cloak>
                                        <td><input class="select_row" type="checkbox"  value="{{ user.id }}"/></td>
                                        <td ng-cloak><img src="{{host}}uploaded_files/hrm/employees/{{ user.photo }}" width="80px"/></td>
                                        <td ng-cloak>{{ user.first_name }} {{ user.last_name }} </td>
                                        <td ng-cloak ng-if="user.emp_role == 1">Admin</td>
                                        <td ng-cloak ng-if="user.emp_role == 2">Director</td>
                                        <td ng-cloak ng-if="user.emp_role == 3">HR Manager</td>
                                        <td ng-cloak ng-if="user.emp_role == 9">Merchandiser</td>
                                        <td ng-cloak ng-if="user.emp_role == 10">Visitor</td>
                                        <td ng-cloak ng-if="user.emp_role == 0"> - </td>
                                        <td ng-cloak>{{ user.email }}</td>
                                        <td ng-if="user.flag == 1"><img src="img/check.png" width="30px" ng-click="changeUserFlag(user.id, 0, loginUser.id)" style="cursor: pointer;"></td>
                                        <td ng-if="user.flag == 0"><img src="img/cross.png" width="30px" ng-click="changeUserFlag(user.id, 1)" style="cursor: pointer;"></td>
                                        <td  ng-cloak align="center">
                                            <a class="btn btn-primary" href="#/hrm/employee/{{ user.id }}"><i class="glyphicon glyphicon-eye-open" class="view_employee_btn"></i></a>&nbsp;
                                            <a ng-if="loginUser.emp_role==1" class="btn btn-danger" ng-click="remove_employee(user.id, user.first_name, 'single_delete')" employee_name="{{ employee.name }}" employee_id="{{ user.id }}"><i class="glyphicon glyphicon-trash"></i></a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                <div class="col-sm-12 text-center">
                                    <dir-pagination-controls
                                            direction-links="true" auto-hide="false"
                                            boundary-links="true" >
                                    </dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4" ng-include="'views/buying/partials/orders_stats.html'"></div>
        <div class="modal fade" id="add-employee-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Add Employee</h3>
                    </div>
                    <div class="modal-body">
                        <form method="post" enctype="multipart/form-data" name="myForm" novalidate>
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <code>First Name</code><span style="color:red">*</span>
                                        <div class="row">
                                            &nbsp;&nbsp;
                                        </div>
                                        <input class="form-control" placeholder="First Name" name="first_name" type="text" ng-model="employee.first_name" ng-required="true" ng-maxlength="50">
                                        <span class="help-block " ng-show="myForm.first_name.$dirty && myForm.first_name.$invalid">This is a mendatory field (Maximum: 50 Characters).</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <code>Last Name</code><span style="color:red">*</span>
                                        <div class="row">
                                            &nbsp;&nbsp;
                                        </div>
                                        <input class="form-control" placeholder="Last Name" name="last_name" type="text" ng-model="employee.last_name" ng-required="true" ng-maxlength="50">
                                        <span class="help-block " ng-show="myForm.last_name.$dirty && myForm.last_name.$invalid">This is a mendatory field (Maximum: 50 Characters).</span>
                                    </div>
                                </div>
                            </div>
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <code>Role</code>
                                        <div class="row">
                                            &nbsp;&nbsp;
                                        </div>
                                        <select class="form-control" style="width:100%" ng-model="employee.emp_role" ng-required="true">
                                            <option value="">Select Role</option>
                                            <option value="1">Admin</option>
                                            <option value="2">Director</option>
                                            <option value="3">HR Manager</option>
                                            <option value="9">Merchendiser</option>
                                            <option value="10">Visitor</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <code>Email Address</code>
                                        <div class="row">
                                            &nbsp;&nbsp;
                                        </div>
                                        <input class="form-control" placeholder="Email Address" name="email" type="text" ng-model="employee.email" ng-required="true"/>
                                    </div>
                                </div>
                            </div>
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <code>Password</code>
                                        <div class="row">
                                            &nbsp;&nbsp;
                                        </div>
                                        <input class="form-control" placeholder="Password" name="password" type="password" ng-required="true" ng-model="employee.password"/>
                                    </div>
                                    <div class="col-sm-6">
                                        <code>Retype Password</code>
                                        <div class="row">
                                            &nbsp;&nbsp;
                                        </div>
                                        <input class="form-control" placeholder="Retype Password" name="retype_password" type="password" ng-model="employee.retype_password"/>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div ng-if="employee.password!=employee.retype_password" class="alert alert-danger text-left">Password & repeat password must be same.</div>
                                <a class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</a>
                                <button type="submit" ng-disabled="myForm.$invalid || employee.password!=employee.retype_password" name="commit" class="btn btn-success" ng-click="add_employee(myForm)"><span class="glyphicon glyphicon-ok-sign"></span> Add Employee</button>
                                <img id="loading_gif_register" src="../img/loading_box.gif" width="10%;" style="display:none;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="remove-employee-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Remove Employee</h3>
                    </div>
                    <div class="modal-body">
                        {{ modal_msg }}
                        <div class="modal-footer">
                            <a class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</a>
                            <button type="submit" name="commit" class="btn btn-success" ng-click="remove_employee_confirmed(employee_id, 'index_page', status)" employee_id=""><span class="glyphicon glyphicon-ok-sign"></span> Yes </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>,

        <div class="modal fade" id="removal-warning-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Remove Employee</h3>
                    </div>
                    <div class="modal-body">
                        Please Select at least one employee.
                        <div class="modal-footer">
                            <a class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> OK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('select').select2();
    });
</script>
