<div class="row col-sm-12">
    <h3 class="heading" ng-cloak>{{ page_title }}</h3>
</div>
<div class="row" ng-cloak ng-init="init_buyerlist()">
    <div class="col-sm-12 col-md-12">
        <div class="col-sm-8">
            <div class="w-box" id="w_sort01">
                <div class="w-box-header">
                    <div class="pull-left">
                        Total Buyers: <span class="act act-warning">{{filtered.length}}</span>
                    </div>
                    <div class="pull-right">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle btn-success btn-xs" data-toggle="dropdown" href="#" target="_self">
                                <i class="glyphicon glyphicon-cog"></i> Action <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-if="loginUser.emp_role==1"><a data-toggle="modal" href="#add-buyer-modal" target="_self"><span class="glyphicon glyphicon-plus-sign"></span> Add</a></li>
                                <li ng-if="loginUser.emp_role==1"><a style="cursor:pointer;"  target="_self" ng-click="remove_buyer(0, 'index_page', 'selected')"><span class="glyphicon glyphicon-trash"></span> Delete Seleted</a></li>
                                <li ng-if="loginUser.emp_role==1"><a style="cursor:pointer;" target="_self" ng-click="remove_buyer(0, 'index_page', 'all')"><span class="glyphicon glyphicon-repeat"></span> Delete All</a></li>
                                <li><a style="cursor: pointer;" target="_self" ng-click="reloadData()"><span class="glyphicon glyphicon-refresh"></span> Refresh </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-box-content cnt_a">
                    <div id="main-content">
                        <div class="row">
                            <div class="col-sm-4 text-left">
                                <input type="text" class="form-control" placeholder="Search" ng-model="search_filter">
                            </div>
                            <div class="col-sm-8 text-right">
                                <select class="inline-search" style="width: 25%;" ng-model="num_of_items" name="num_of_items" ng-options="num.id as num.value for num in num_of_items_arr ">
                                    <option value="">Show</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="overflow-x: auto;">
                                <div class="col-sm-12 text-center">
                                    <dir-pagination-controls
                                            direction-links="true" auto-hide="false"
                                            boundary-links="true" >
                                    </dir-pagination-controls>
                                </div>
                                <table class="table table-responsive table-bordered">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Image </th>
                                        <th class="th-pointer" ng-click="sort('buyer_name')">Buyer Name <span class="glyphicon glyphicon-sort-icon"  ng-show="sortKey=='buyer_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                        <th class="th-pointer" ng-click="sort('contact_person')">Contact Person <span class="glyphicon glyphicon-sort-icon"  ng-show="sortKey=='contact_person'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                        <th class="th-pointer" ng-click="sort('email_address')">Email Address <span class="glyphicon glyphicon-sort-icon"  ng-show="sortKey=='email_address'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-if="buyers.length == 0 || filtered.length == 0">
                                        <td colspan="6">No data found.</td>
                                    </tr>
                                    <tr ng-class-odd="'bg-color1'" dir-paginate="buyer in filtered = (buyers| orderBy : sortKey : reverse | filter : search_filter  | itemsPerPage : num_of_items) " ng-cloak>
                                        <td><input class="select_row" type="checkbox"  value="{{ buyer.id }}"/></td>
                                        <td ng-cloak><img src="{{host}}uploaded_files/production/buyers/{{ buyer.image }}" width="80px"/></td>
                                        <td ng-cloak>{{ buyer.buyer_name }}</td>
                                        <td ng-cloak>{{ buyer.contact_person }}</td>
                                        <td ng-cloak>{{ buyer.email_address }}</td>
                                        <td  ng-cloak align="center">
                                            <a class="btn btn-primary" href="#/production/buyer/{{ buyer.id }}"><i class="glyphicon glyphicon-eye-open" class="view_buyer_btn"></i></a>&nbsp;
                                            <a ng-if="loginUser.emp_role==1" class="btn btn-danger" ng-click="remove_buyer(buyer.id, buyer.buyer_name, 'single_delete')" buyer_name="{{ buyer.name }}" buyer_id="{{ buyer.id }}"><i class="glyphicon glyphicon-trash"></i></a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                <div class="col-sm-12 text-center">
                                    <dir-pagination-controls
                                            direction-links="true" auto-hide="false"
                                            boundary-links="true" >
                                    </dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4" ng-include="'views/production/partials/orders_stats.html'"></div>
        <div class="modal fade" id="add-buyer-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Add Buyer</h3>
                    </div>
                    <div class="modal-body">
                        <div class="demo-settings" data-open="true">
                            <div class="settings-main">
                                <label>Step effect</label>
                                <select class="form-control" id="stepEffect">
                                    <option value="basic" selected="selected">basic</option>
                                    <option value="bounce">bounce</option>
                                    <option value="slideRightLeft">slideRightLeft</option>
                                    <option value="slideLeftRight">slideLeftRight</option>

                                    <option value="flip">flip</option>
                                    <option value="transformation">transformation</option>
                                    <option value="slideDownUp">slideDownUp</option>
                                    <option value="slideUpDown">slideUpDown</option>
                                </select>
                                <br />
                                <label for="stepTransition">
                                    Step transition <input type="checkbox" id="stepTransition" name="stepTransition" value="11" checked />
                                </label>
                                <br />
                                <label for="showButtons">
                                    Show buttons <input type="checkbox" id="showButtons" name="showButtons" value="111" checked />
                                </label>
                                <br />
                                <label for="showStepNum">
                                    Show stepNum <input type="checkbox" id="showStepNum" name="showStepNum" value="123" checked />
                                </label>
                            </div>
                        </div>

                        <!-- BEGIN STEP FORM WIZARD -->
                        <div class="tsf-wizard tsf-wizard-2 ">
                            <!-- BEGIN NAV STEP-->
                            <div class="tsf-nav-step">
                                <!-- BEGIN STEP INDICATOR-->
                                <ul class="gsi-step-indicator triangle gsi-style-1  gsi-transition ">
                                    <li class="current" data-target="step-1">
                                        <a href="#0">
                                            <span class="number">1</span>
                                            <span class="desc">
                                    <label>Account setup</label>
                                    <span>Account details</span>
                                </span>
                                        </a>
                                    </li>
                                    <li data-target="step-2">
                                        <a href="#0">
                                            <span class="number">2</span>
                                            <span class="desc">
                                    <label>Profile setup</label>
                                    <span>Profile details</span>
                                </span>
                                        </a>
                                    </li>
                                    <li data-target="step-3">
                                        <a href="#0">
                                <span class="number">
                                    3
                                </span>
                                            <span class="desc">
                                    <label>Billing setup</label>
                                    <span>Credit card details</span>
                                </span>
                                        </a>
                                    </li>
                                    <li data-target="step-4">
                                        <a href="#0">
                                <span class="number">
                                    4
                                </span>
                                            <span class="desc">
                                    <label>Agreement</label>
                                    <span>Our site policy</span>
                                </span>
                                        </a>
                                    </li>

                                    <li data-target="step-5">
                                        <a href="#0">
                                <span class="number">
                                    5
                                </span>
                                            <span class="desc">
                                    <label>Step 5</label>
                                    <span>Step description</span>
                                </span>
                                        </a>
                                    </li>
                                    <li data-target="step-6">
                                        <a href="#0">
                                <span class="number">
                                    6
                                </span>
                                            <span class="desc">
                                    <label>Step 6</label>
                                    <span>Step description</span>
                                </span>
                                        </a>
                                    </li>
                                    <li data-target="step-7">
                                        <a href="#0">
                                <span class="number">
                                    7
                                </span>
                                            <span class="desc">
                                    <label>Step 7</label>
                                    <span>Step description</span>
                                </span>
                                        </a>
                                    </li>
                                    <li data-target="step-8">
                                        <a href="#0">
                                <span class="number">
                                    8
                                </span>
                                            <span class="desc">
                                    <label>Step 8</label>
                                    <span>Step description</span>
                                </span>
                                        </a>
                                    </li>
                                    <li data-target="step-9">
                                        <a href="#0">
                                <span class="number">
                                    9
                                </span>
                                            <span class="desc">
                                    <label>Step 5</label>
                                    <span>Step description</span>
                                </span>
                                        </a>
                                    </li>
                                    <li data-target="step-11">
                                        <a href="#0">
                                <span class="number">
                                    11
                                </span>
                                            <span class="desc">
                                    <label>Step 11</label>
                                    <span>Step description</span>
                                </span>
                                        </a>
                                    </li>
                                    <li data-target="step-12">
                                        <a href="#0">
                                <span class="number">
                                    12
                                </span>
                                            <span class="desc">
                                    <label>Step 12</label>
                                    <span>Step description</span>
                                </span>
                                        </a>
                                    </li>
                                    <li data-target="step-13">
                                        <a href="#0">
                                <span class="number">
                                    13
                                </span>
                                            <span class="desc">
                                    <label>Step 13</label>
                                    <span>Step description</span>
                                </span>
                                        </a>
                                    </li>
                                    <li data-target="step-14">
                                        <a href="#0">
                                <span class="number">
                                    14
                                </span>
                                            <span class="desc">
                                    <label>Step 14</label>
                                    <span>Step description</span>
                                </span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- END STEP INDICATOR--->
                            </div>
                            <!-- END NAV STEP-->
                            <!-- BEGIN STEP CONTAINER -->
                            <div class="tsf-container">
                                <!-- BEGIN CONTENT-->
                                <div class="tsf-content">
                                    <!-- BEGIN STEP 1-->
                                    <div class="tsf-step step-1 active">
                                        <fieldset>
                                            <legend>Provide your account details</legend>
                                            <div class="row">
                                                <!-- BEGIN STEP CONTENT-->
                                                <form class="tsf-step-content">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Email</label>
                                                            <input type="email" class="form-control" id="example_username" placeholder="Enter username" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputPassword1">Password</label>
                                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputPassword1">Password again</label>
                                                            <input type="password" class="form-control" id="exampleInputPasswordAgain1" placeholder="Password">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                                    </div>
                                                </form>
                                                <!-- END STEP CONTENT-->
                                            </div>

                                        </fieldset>
                                    </div>
                                    <!-- END STEP 1-->
                                    <!-- BEGIN STEP 2-->
                                    <div class=" tsf-step step-2 ">
                                        <fieldset>
                                            <legend>Provide your profile details</legend>
                                            <!-- BEGIN STEP CONTENT-->
                                            <form class="tsf-step-content">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Fullname </label>
                                                    <input type="email" class="form-control" id="example_Fullname" placeholder="Enter fullname " required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Phone Number</label>
                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Phone Number">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputAddress">Address</label>
                                                    <input type="text" class="form-control" id="exampleInputAddress" placeholder="Street address">
                                                </div>
                                                <label>Gender </label>

                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="optionsRadios" value="option1" checked="" required="">
                                                        Male
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="optionsRadios" value="option2">
                                                        Female
                                                    </label>
                                                </div>
                                            </form>
                                            <!-- END STEP CONTENT-->
                                        </fieldset>
                                    </div>
                                    <!-- END STEP 2-->
                                    <!-- BEGIN STEP 3-->
                                    <div class=" tsf-step step-3 ">
                                        <fieldset>
                                            <legend>Provide your billing and credit card details</legend>
                                            <!-- BEGIN STEP CONTENT-->
                                            <form class="tsf-step-content">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Card Holder Name </label>
                                                    <input type="email" class="form-control" id="example_cardName" placeholder="Enter Card Holder Name" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Card Number</label>
                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Card Number">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputAddress">CVC </label>
                                                    <input type="text" class="form-control" id="exampleInputAddress" placeholder="CVC">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputAddress">Expiration(MM/YYYY)</label>
                                                    <input type="text" class="form-control" id="exampleInputAddress" placeholder="MM/YYYY">
                                                </div>

                                            </form>
                                            <!-- END STEP CONTENT-->

                                        </fieldset>
                                    </div>
                                    <!-- END STEP 3-->
                                    <!-- BEGIN STEP 4-->
                                    <div class="tsf-step step-4">
                                        <fieldset>
                                            <legend>Agreement</legend>
                                            <!-- BEGIN STEP CONTENT-->
                                            <form class="tsf-step-content">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <p>
                                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                                        </p>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox"> I read agreement and i have not any objection
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- END STEP CONTENT-->
                                        </fieldset>
                                    </div>
                                    <!-- END STEP 4-->
                                    <!-- BEGIN STEP 5-->
                                    <div class="tsf-step step-5">
                                        <fieldset>
                                            <legend>Agreement</legend>
                                            <!-- BEGIN STEP CONTENT-->
                                            <form class="tsf-step-content">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <p>
                                                            Step 5
                                                        </p>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- END STEP CONTENT-->
                                        </fieldset>
                                    </div>
                                    <!-- END STEP 5-->
                                    <!-- BEGIN STEP 6-->
                                    <div class="tsf-step step-6">
                                        <fieldset>
                                            <legend>Agreement</legend>
                                            <!-- BEGIN STEP CONTENT-->
                                            <form class="tsf-step-content">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <p>
                                                            Step 6
                                                        </p>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- END STEP CONTENT-->
                                        </fieldset>
                                    </div>
                                    <!-- END STEP 6->
                                <!-- BEGIN STEP 7-->
                                    <div class="tsf-step step-7">
                                        <fieldset>
                                            <legend>Agreement</legend>
                                            <!-- BEGIN STEP CONTENT-->
                                            <form class="tsf-step-content">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <p>
                                                            Step 7
                                                        </p>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- END STEP CONTENT-->
                                        </fieldset>
                                    </div>
                                    <!-- END STEP 7-->
                                    <!-- BEGIN STEP 8-->
                                    <div class="tsf-step step-8">
                                        <fieldset>
                                            <legend>Agreement</legend>
                                            <!-- BEGIN STEP CONTENT-->
                                            <form class="tsf-step-content">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <p>
                                                            Step 8
                                                        </p>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- END STEP CONTENT-->
                                        </fieldset>
                                    </div>
                                    <!-- END STEP 8-->
                                    <!-- BEGIN STEP 9-->
                                    <div class="tsf-step step-9">
                                        <fieldset>
                                            <legend>Agreement</legend>
                                            <!-- BEGIN STEP CONTENT-->
                                            <form class="tsf-step-content">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <p>
                                                            Step 9
                                                        </p>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- END STEP CONTENT-->
                                        </fieldset>
                                    </div>
                                    <!-- END STEP 9-->
                                    <!-- BEGIN STEP 10-->
                                    <div class="tsf-step step-10">
                                        <fieldset>
                                            <legend>Agreement</legend>
                                            <!-- BEGIN STEP CONTENT-->
                                            <form class="tsf-step-content">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <p>
                                                            Step 10
                                                        </p>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- END STEP CONTENT-->
                                        </fieldset>
                                    </div>
                                    <!-- END STEP 10-->
                                    <!-- BEGIN STEP 11-->
                                    <div class="tsf-step step-11">
                                        <fieldset>
                                            <legend>Agreement</legend>
                                            <!-- BEGIN STEP CONTENT-->
                                            <form class="tsf-step-content">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <p>
                                                            Step 11
                                                        </p>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- END STEP CONTENT-->
                                        </fieldset>
                                    </div>
                                    <!-- END STEP 11-->
                                    <!-- BEGIN STEP 12-->
                                    <div class="tsf-step step-12">
                                        <fieldset>
                                            <legend>Agreement</legend>
                                            <!-- BEGIN STEP CONTENT-->
                                            <form class="tsf-step-content">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <p>
                                                            Step 12
                                                        </p>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- END STEP CONTENT-->
                                        </fieldset>
                                    </div>
                                    <!-- END STEP 12-->
                                    <!-- BEGIN STEP 13-->
                                    <div class="tsf-step step-13">
                                        <fieldset>
                                            <legend>Agreement</legend>
                                            <!-- BEGIN STEP CONTENT-->
                                            <form class="tsf-step-content">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <p>
                                                            Step 13
                                                        </p>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- END STEP CONTENT-->
                                        </fieldset>
                                    </div>
                                    <!-- END STEP 13-->
                                    <!-- BEGIN STEP 14-->
                                    <div class="tsf-step step-14">
                                        <fieldset>
                                            <legend>Agreement</legend>
                                            <!-- BEGIN STEP CONTENT-->
                                            <form class="tsf-step-content">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <p>
                                                            Step 14
                                                        </p>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- END STEP CONTENT-->
                                        </fieldset>
                                    </div>
                                    <!-- END STEP 14-->

                                </div>
                                <!-- END CONTENT-->
                                <!-- BEGIN CONTROLS-->
                                <div class="tsf-controls ">
                                    <!-- BEGIN PREV BUTTTON-->
                                    <button type="button" data-type="prev" class="btn btn-left tsf-wizard-btn">
                                        <i class="fa fa-chevron-left"></i> PREV
                                    </button>
                                    <!-- END PREV BUTTTON-->
                                    <!-- BEGIN NEXT BUTTTON-->
                                    <button type="button" data-type="next" class="btn btn-right tsf-wizard-btn">
                                        NEXT <i class="fa fa-chevron-right"></i>
                                    </button>
                                    <!-- END NEXT BUTTTON-->
                                    <!-- BEGIN FINISH BUTTTON-->
                                    <button type="button" data-type="finish" class="btn btn-right tsf-wizard-btn">
                                        FINISH
                                    </button>
                                    <!-- END FINISH BUTTTON-->
                                </div>
                                <!-- END CONTROLS-->
                            </div>
                            <!-- END STEP CONTAINER -->


                        </div>
                        <!-- END STEP FORM WIZARD -->
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="remove-buyer-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Remove Buyer</h3>
                    </div>
                    <div class="modal-body">
                        {{ modal_msg }}
                        <div class="modal-footer">
                            <a class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</a>
                            <button type="submit" name="commit" class="btn btn-success" ng-click="remove_buyer_confirmed(buyer_id, 'index_page', status)" buyer_id=""><span class="glyphicon glyphicon-ok-sign"></span> Yes </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>,

        <div class="modal fade" id="removal-warning-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Remove Buyer</h3>
                    </div>
                    <div class="modal-body">
                        Please Select at least one buyer.
                        <div class="modal-footer">
                            <a class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> OK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/custom-select2.js"></script>














<script>
    $(document).ready(function () {
        _stepEffect = $('#stepEffect').val();
        _style = 'style1';
        _stepTransition = $('#stepTransition').is(':checked');
        _showButtons = $('#showButtons').is(':checked');
        _showStepNum = $('#showStepNum').is(':checked');



        tsf1 = $('.tsf-wizard-1').tsfWizard({
            stepEffect: _stepEffect,
            stepStyle: _style,
            navPosition: 'top',
            validation: false,
            manySteps:true,
            stepTransition: _stepTransition,
            showButtons: _showButtons,
            showStepNum: _showStepNum,
            height: '350px',
            onNextClick: function (e, from, to) {
                console.log('onNextClick from ' + from +
                        ' - to ' + to )
            },
            onPrevClick: function (e, from, to) {
                console.log('onPrevClick from ' + from +
                        ' - to ' + to)
            },
            onFinishClick: function (e, validation) {
                $('#result').append('<br/>onFinishClick validation ' + validation)
            }
        });
        $('.tsf-wizard-2').tsfWizard({
            stepEffect: _stepEffect,
            stepStyle: _style,
            navPosition: 'left',
            validation: false,
            manySteps: true,
            stepTransition: _stepTransition,
            showButtons: _showButtons,
            showStepNum: _showStepNum,
            height: '350px'
        });
    })
</script>