<link rel="stylesheet" href="css/gsi-step-indicator.min.css" />
<div class="row col-sm-12">
    <h3 class="heading" ng-cloak>{{ page_title }}</h3>
</div>
<div class="row" ng-init="init()" ng-cloak>
    <div class="col-sm-12 col-md-12">
        <div class="col-sm-12">
            <div class="w-box" id="w_sort01">
                
                <div class="tsf-wizard tsf-wizard-2 ">
                <!-- BEGIN NAV STEP-->
                <div class="tsf-nav-step">
                    <!-- BEGIN STEP INDICATOR-->
                    <ul class="gsi-step-indicator triangle gsi-style-1  gsi-transition ">
                        <li class="current" data-target="step-1">
                            <a target="_self" style="cursor: pointer;">
                                <span class="number">1</span>
                                <span class="desc">
                                    <label>Account Details</label>
                                    <span>Account details</span>
                                </span>
                            </a>
                        </li>
                        <li data-target="step-2" style="cursor: pointer;">
                            <a target="_self">
                                <span class="number">2</span>
                                <span class="desc">
                                    <label>Official Details</label>
                                    <span>Profile details</span>
                                </span>
                            </a>
                        </li>
                        <li data-target="step-3" style="cursor: pointer;">
                            <a target="_self">
                                <span class="number">3</span>
                                <span class="desc">
                                    <label>Bank Details</label>
                                    <span>Credit card details</span>
                                </span>
                            </a>
                        </li>
                        <li data-target="step-4">
                            <a target="_self" style="cursor: pointer;">
                                <span class="number">4</span>
                                <span class="desc">
                                    <label>Change Password</label>
                                    <span>Our site policy</span>
                                </span>
                            </a>
                        </li>
                        <li data-target="step-5" style="cursor: pointer;">
                            <a target="_self">
                                <span class="number">5</span>
                                <span class="desc">
                                    <label>Photo</label>
                                    <span>Upload Photo</span>
                                </span>
                            </a>
                        </li>

                    </ul>
                    <!-- END STEP INDICATOR--->
                </div>
                <!-- END NAV STEP-->
                <!-- BEGIN STEP CONTAINER -->
                <div class="tsf-container">
                    <!-- BEGIN CONTENT-->
                    <div class="tsf-content" style="height: 1200px;">
                        <!-- BEGIN STEP 1-->
                        <div class="tsf-step step-1 active">
                            <fieldset>
                                <legend>Provide account details</legend>
                                <div class="row">
                                    <!-- BEGIN STEP CONTENT-->
                                    <div class="row col-sm-2">
                                    &nbsp;
                                    </div>
                                    <div class="row col-sm-8">
                                        <div class="formSep">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <code>First Name</code><span style="color:red">*</span>
                                                    <div class="popover-wrapper"> 
                                                        <a style="cursor: pointer;" onaftersave="edit_employees_info_confirmed('first_name',employee[0].id, $data)" editable-text="employee[0].first_name" onbeforesave="validateEmpoyeeEditForm($data, 1, 20, 'This field is mendatory and must not exceed 20 characters.', loginUser.emp_role, employee[0].id)">{{ employee[0].first_name }}</a></span></td>
                                                    </div>    
                                                </div>
                                                <div class="col-sm-6">
                                                    <code>Last Name</code><span style="color:red">*</span>
                                                    <div class="popover-wrapper"> 
                                                        <a style="cursor: pointer;" onaftersave="edit_employees_info_confirmed('last_name',employee[0].id, $data)" editable-text="employee[0].last_name" onbeforesave="validateEmpoyeeEditForm($data, 1, 20, 'This field is mendatory and must not exceed 20 characters.', loginUser.emp_role, employee[0].id)">{{ employee[0].last_name }}</a></span></td>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="formSep">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <code>Role</code>
                                                    <div class="popover-wrapper" ng-if="loginUser.emp_role==1 || loginUser.emp_role==2 || loginUser.emp_role==3">
                                                       <a ng-if="employee[0].emp_role == 1" href="#" editable-select="employee[0].emp_role" onaftersave="edit_employees_info_confirmed('emp_role',employee[0].id, $data)" e-ng-options="g.id as g.val for g in roles">Admin</a>
                                                       <a ng-if="employee[0].emp_role == 2" href="#" editable-select="employee[0].emp_role" onaftersave="edit_employees_info_confirmed('emp_role',employee[0].id, $data)" e-ng-options="g.id as g.val for g in roles">Director</a>
                                                       <a ng-if="employee[0].emp_role == 3" href="#" editable-select="employee[0].emp_role" onaftersave="edit_employees_info_confirmed('emp_role',employee[0].id, $data)" e-ng-options="g.id as g.val for g in roles">HR</a>
                                                       <a ng-if="employee[0].emp_role == 9" href="#" editable-select="employee[0].emp_role" onaftersave="edit_employees_info_confirmed('emp_role',employee[0].id, $data)" e-ng-options="g.id as g.val for g in roles">Merchandiser</a>
                                                       <a ng-if="employee[0].emp_role == 10" href="#" editable-select="employee[0].emp_role" onaftersave="edit_employees_info_confirmed('emp_role',employee[0].id, $data)" e-ng-options="g.id as g.val for g in roles">Visitor</a>
                                                    </div>

                                                    <div class="popover-wrapper" ng-if="loginUser.emp_role!=1 && loginUser.emp_role!=2 && loginUser.emp_role!=3">
                                                       <a style="text-decoration=none;" ng-if="employee[0].emp_role == 1">Admin</a>
                                                       <a ng-if="employee[0].emp_role == 2">Director</a>
                                                       <a ng-if="employee[0].emp_role == 3">HR</a>
                                                       <a style="text-decoration=none;" ng-if="employee[0].emp_role == 9">Merchandiser</a>
                                                       <a ng-if="employee[0].emp_role == 10">Visitor</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="formSep">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <code>Email Address</code>
                                                    <div class="popover-wrapper"> 
                                                        <a style="cursor: pointer;" onaftersave="edit_employees_info_confirmed('email',employee[0].id, $data)" editable-text="employee[0].email" onbeforesave="validateEmpoyeeEditForm($data, 1, 20, 'This field is mendatory and must not exceed 20 characters.', loginUser.emp_role, employee[0].id)">{{ employee[0].email }}</a></span></td>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-sm-2">
                                    &nbsp;
                                    </div>
                                    <!-- END STEP CONTENT-->
                                </div>

                            </fieldset>
                        </div>
                        <!-- END STEP 1-->
                        <!-- BEGIN STEP 2-->
                        <div class=" tsf-step step-2 ">
                            <fieldset>
                                <legend>Provide official details</legend>
                                <!-- BEGIN STEP CONTENT-->
                                <div class="row">

                                    <div class="row col-sm-2">
                                    &nbsp;
                                    </div>
                                    <div class="row col-sm-8">
                                        <div class="formSep">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <code>Address</code>
                                                        <div class="popover-wrapper"> 
                                                            <div class="popover-wrapper"> 
                                                                <a style="cursor: pointer;" onaftersave="edit_employees_info_confirmed('address_line_1',employee[0].id, $data, null, 'employees')" editable-text="employee[0].address_line_1" onbeforesave="validateEmpoyeeEditForm($data, 1, 20, 'This field is mendatory and must not exceed 20 characters.', loginUser.emp_role, employee[0].id)">{{ employee[0].address_line_1 || 'empty' }}</a></span></td>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="formSep">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <code>Joining Date</code>
                                                        <div class="popover-wrapper"> 
                                                            <a onbeforesave="validateEmpoyeeEditForm($data, 1, 20, 'This field is mendatory and must not exceed 20 characters.', loginUser.emp_role, employee[0].id)"
                                                                onaftersave="edit_employees_info_confirmed('join_date',employee[0].id, $data, 'date_data', 'employees')"  href="#" editable-bsdate="employee[0].join_date" 
                                                                          e-readonly="true"
                                                                          e-is-open="opened.$data"
                                                                          e-ng-click="open($event,'$data')"  
                                                                          e-datepicker-popup="yyyy-MM-dd">
                                                                {{ (employee[0].join_date | date:"dd/MMM/yyyy") || 'empty' }}
                                                            </a>
                                                        </div> 
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <code>Date of Birth</code>
                                                        <div class="popover-wrapper"> 
                                                            <a onbeforesave="validateEmpoyeeEditForm($data, 1, 20, 'This field is mendatory and must not exceed 20 characters.', loginUser.emp_role, employee[0].id)"
                                                                onaftersave="edit_employees_info_confirmed('dob',employee[0].id, $data, 'date_data', 'employees')"  href="#" editable-bsdate="employee[0].dob" 
                                                                          e-readonly="true"
                                                                          e-is-open="opened.$data"
                                                                          e-ng-click="open($event,'$data')"  
                                                                          e-datepicker-popup="yyyy-MM-dd">
                                                                {{ (employee[0].dob | date:"dd/MMM/yyyy") || 'empty'}}
                                                            </a>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="formSep">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <code>Salary</code>
                                                        <div class="popover-wrapper"> 
                                                           <div class="popover-wrapper"> 
                                                                <a style="cursor: pointer;" onaftersave="edit_employees_info_confirmed('salary',employee[0].id, $data, null, 'employees')" editable-text="employee[0].salary" onbeforesave="validateEmpoyeeEditForm($data, 1, 20, 'This field is mendatory and must not exceed 20 characters.', loginUser.emp_role, employee[0].id)">{{ employee[0].salary || 'empty'}}</a></span></td>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <!-- END STEP CONTENT-->
                            </fieldset>
                        </div>
                        <!-- END STEP 2-->
                        <!-- BEGIN STEP 3-->
                        <div class=" tsf-step step-3 ">
                            <fieldset>
                                <legend>Provide bank details</legend>
                                <!-- BEGIN STEP CONTENT-->
                                <div class="row">

                                    <div class="row col-sm-2">
                                    &nbsp;
                                    </div>
                                    <div class="row col-sm-8">
                                        <div class="formSep">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <code>Account Holder</code>
                                                        <div class="popover-wrapper"> 
                                                            <div class="popover-wrapper"> 
                                                                <a style="cursor: pointer;" onaftersave="edit_employees_info_confirmed('acc_holder',employee[0].id, $data, null, 'employees')" editable-text="employee[0].acc_holder" onbeforesave="validateEmpoyeeEditForm($data, 1, 20, 'This field is mendatory and must not exceed 20 characters.', loginUser.emp_role, employee[0].id)">{{ employee[0].acc_holder || 'empty'}}</a></span></td>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <code>Account Name</code>
                                                        <div class="popover-wrapper"> 
                                                            <div class="popover-wrapper"> 
                                                                <a style="cursor: pointer;" onaftersave="edit_employees_info_confirmed('acc_no',employee[0].id, $data, null, 'employees')" editable-text="employee[0].acc_no" onbeforesave="validateEmpoyeeEditForm($data, 1, 20, 'This field is mendatory and must not exceed 20 characters.', loginUser.emp_role, employee[0].id)">{{ employee[0].acc_no || 'empty'}}</a></span></td>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="formSep">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <code>Branch</code>
                                                        <div class="popover-wrapper"> 
                                                            <div class="popover-wrapper"> 
                                                                <a style="cursor: pointer;" onaftersave="edit_employees_info_confirmed('branch',employee[0].id, $data, null, 'employees')" editable-text="employee[0].branch" onbeforesave="validateEmpoyeeEditForm($data, 1, 20, 'This field is mendatory and must not exceed 20 characters.', loginUser.emp_role, employee[0].id)">{{ employee[0].branch || 'empty'}}</a></span></td>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="formSep">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <code>IFSC Code</code>
                                                        <div class="popover-wrapper"> 
                                                           <div class="popover-wrapper"> 
                                                                <a style="cursor: pointer;" onaftersave="edit_employees_info_confirmed('ifsc_code',employee[0].id, $data, null, 'employees')" editable-text="employee[0].ifsc_code" onbeforesave="validateEmpoyeeEditForm($data, 1, 20, 'This field is mendatory and must not exceed 20 characters.', loginUser.emp_role, employee[0].id)">{{ employee[0].ifsc_code || 'empty'}}</a></span></td>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <!-- END STEP CONTENT-->
                            </fieldset>
                        </div>
                        <!-- END STEP 3-->
                        <!-- BEGIN STEP 4-->
                        <div class=" tsf-step step-4 ">
                            <fieldset>
                                <legend>Provide password details</legend>
                                <!-- BEGIN STEP CONTENT-->
                                <div class="row">

                                    <div class="row col-sm-2">
                                    &nbsp;
                                    </div>
                                    <div class="row col-sm-8">
                                       <form name="changePasswordForm">
                                             <div class="formSep">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <code>Password</code>
                                                        <input class="form-control" placeholder="Password" name="password" ng-required="true" type="password" ng-model="employee.password"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="formSep">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <code>Retype Password</code>
                                                        <input class="form-control" placeholder="Password" name="retype_password" type="password" ng-model="employee.retype_password"/> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="formSep">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="row text-center" ng-if="employee.password != employee.retype_password">
                                                               <span class="alert alert-danger">Password must be same.</span>
                                                        </div>
                                                        <div class="row text-center">
                                                            <button ng-click="changePass(employee[0].id, employee.password, changePasswordForm)" ng-disabled="changePasswordForm.$invalid || employee.password != employee.retype_password" class="btn btn-success">Change Password</button>
                                                        </div>
                                                            
                                                    </div>
                                                </div>
                                            </div>
                                       </form>
                                            
                                        </div>
                                </div>
                                <!-- END STEP CONTENT-->
                            </fieldset>
                        </div>
                        <!-- END STEP 4-->
                        <!-- END STEP 14-->
                        <!-- END STEP 5-->
                        <!-- BEGIN STEP 4-->
                        <div class=" tsf-step step-5 ">
                            <fieldset>
                                <legend>Upload Photo</legend>
                                <!-- BEGIN STEP CONTENT-->
                                <div class="row">

                                    <div class="row col-sm-2">
                                    &nbsp;
                                    </div>
                                    <div class="row col-sm-8">
                                       <form name="changePasswordForm">
                                            <div class="formSep">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <img src="{{host}}uploaded_files/hrm/employees/{{ employee[0].photo }}">
                                                        </div>
                                                        <div class="row">
                                                            <a target="_self" class="btn dropdown-toggle btn-success" data-toggle="modal" href="#attach-files-modal">
                                                                <i class="glyphicon glyphicon-home"></i> Upload
                                                            </a>
                                                        </div>
                                                            
                                                    </div>
                                                </div>
                                            </div>
                                       </form>
                                            
                                        </div>
                                </div>
                                <!-- END STEP CONTENT-->
                            </fieldset>
                        </div>
                        <!-- END STEP 4-->
                        <!-- END STEP 14-->

                    </div>
                    <!-- END CONTENT-->
                    <!-- BEGIN CONTROLS-->
                    <div class="tsf-controls ">
                        <!-- BEGIN PREV BUTTTON-->
                        <button type="button" data-type="prev" class="btn btn-left tsf-wizard-btn">
                            <i class="fa fa-chevron-left"></i> PREV
                        </button>
                        <!-- END PREV BUTTTON-->
                        <!-- BEGIN NEXT BUTTTON-->
                        <button type="button" data-type="next" class="btn btn-right tsf-wizard-btn">
                            NEXT <i class="fa fa-chevron-right"></i>
                        </button>
                        <!-- END NEXT BUTTTON-->
                        <!-- BEGIN FINISH BUTTTON-->
                        <button type="button" data-type="finish" class="btn btn-right tsf-wizard-btn">
                            FINISH
                        </button>
                        <!-- END FINISH BUTTTON-->
                    </div>
                    <!-- END CONTROLS-->
                </div>
                <!-- END STEP CONTAINER -->


            </div>
            <!-- END STEP FORM WIZARD -->


            </div>
        </div>

        <div class="modal fade" id="attach-files-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title">Upload Photo</h3>
                        </div>
                        <div class="modal-body">
                            <form method="post" enctype="multipart/form-data" name="myForm" novalidate>
                                
                                <div class="formSep">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <code>Attachment</code>
                                            <img ngf-thumbnail="myfile.image"><br><br>
                                            <div class="button" ngf-select ng-required="true" ng-model="myfile.image" name="file" ngf-pattern="'image/*'"
                                                 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                                                 ngf-resize="{width: 300, height: 300}">
                                                <button class="btn btn-success">Attachment</button>
                                            </div>
                                            <i ng-show="myForm.file.$error.required">*required</i><br>
                                            <i ng-show="myForm.file.$error.maxSize">File too large
                                                {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</a>
                                    <button type="submit" ng-disabled="myForm.$invalid" name="commit" class="btn btn-success" ng-click="attach_files('photo', employee[0].id, myfile, 'employees')"><span class="glyphicon glyphicon-ok-sign"></span> Upload </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
        <div class="modal fade" id="remove-buyer-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Remove Buyer</h3>
                    </div>
                    <div class="modal-body">
                        {{ modal_msg }}
                        <div class="modal-footer">
                            <a class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</a>
                            <button type="submit" name="commit" class="btn btn-success" ng-click="remove_buyer_confirmed(buyer_id, 'show_page', status)" buyer_id=""><span class="glyphicon glyphicon-ok-sign"></span> Yes </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    var tsf1;

    _stepEffect = $('#stepEffect').val();
    _style = 'style1';
    _stepTransition = $('#stepTransition').is(':checked');
    _showButtons = $('#showButtons').is(':checked');
    _showStepNum = $('#showStepNum').is(':checked');

     $('.tsf-wizard-2').tsfWizard({
                stepEffect: _stepEffect,
                stepStyle: _style,
                navPosition: 'left',
                validation: false,
                stepTransition: _stepTransition,
                showButtons: true,
                showStepNum: _showStepNum,                
                height: '450px'

            });


})
</script>