<div class="row col-sm-12">
    <h3 class="heading" ng-cloak>{{ page_title }}</h3>
</div>
<div class="row" ng-cloak">
    <div class="col-sm-12 col-md-12" ng-init="buying_orders()">
        <div class="col-sm-12">
            <div class="w-box" id="w_sort01">
                <div class="w-box-header">
                    <div class="pull-right">
                        Total Orders: {{filtered.length}}
                    </div>
                    <div class="pull-left">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle btn-success btn-xs" data-toggle="dropdown" href="#" target="_self">
                                <i class="glyphicon glyphicon-cog"></i> Action <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                <li><a data-toggle="modal" href="#add-order-modal" target="_self"><span class="glyphicon glyphicon-plus-sign"></span> Add</a></li>
                                <!-- <li><a style="cursor:pointer;"  target="_self" ng-click="remove_order(0, 'index_page', 'selected')"><span class="glyphicon glyphicon-trash"></span> Delete Seleted</a></li>
                                <li ng-if="loginUser.emp_role==1"><a style="cursor:pointer;" target="_self" ng-click="remove_order(0, 'index_page', 'all')"><span class="glyphicon glyphicon-repeat"></span> Delete All</a></li> -->
                                <li><a style="cursor: pointer;" target="_self" ng-click="reloadData()"><span class="glyphicon glyphicon-refresh"></span> Refresh </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-box-content cnt_a">
                    <div id="main-content">
                        <div class="row">
                            <div class="col-sm-4 text-left">
                                <input type="text" class="form-control" placeholder="Search" ng-model="search_filter">
                            </div>
                            <div class="col-sm-8 text-right">
                                <select  class="select2js" style="width: 25%;" ng-model="num_of_items" name="num_of_items" ng-options="num.id as num.value for num in num_of_items_arr ">
                                    <option value="">Show</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"  style="overflow-x: auto; height=20px;">
                                
                                <div class="col-sm-12 text-center">
                                    <dir-pagination-controls
                                            direction-links="true" auto-hide="false"
                                            boundary-links="true" >
                                    </dir-pagination-controls>
                                </div>
                                <table class="table table-responsive table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Style </th>
                                        <th>Merchandiser</th>
                                        <th>Ref</th>
                                        <th>Sketch/Pics</th>
                                        <th>Gauge</th>
                                        <th>Yarn (Ref details)</th>
                                        <th>Colors</th>
                                        <th>P.I date</th>
                                        <th>Yarn status</th>
                                        <th>Contract weight</th>
                                        <th>Customer</th>
                                        <th>P.O.</th>
                                        <th>P.O received date</th>
                                        <th>Qty</th>
                                        <th>Sizing</th>
                                        <th>Main Label</th>
                                        <th>Hang tag</th>
                                        <th>Accys status</th>
                                        <th>Trims & status</th>
                                        <th>Handover date</th>
                                        <th>Fit sample Sent</th>
                                        <th>Courier No.</th>
                                        <th>Fit sample Comments</th>
                                        <th>FG</th>
                                        <th>Production status details</th>
                                        <th>Production condition</th>
                                        <th>Photo/specl Sample</th>
                                        <th>Shipping Sample required</th>
                                        <th>Shipping Sample sent</th>
                                        <th>Courier No.</th>
                                        <th>Shipping sample comments</th>
                                        <th>Actual production weight</th>
                                        <th>Confirm price</th>
                                        <th>Inspection date</th>
                                        <th>Inspection status</th>
                                        <th>Handedover date</th>
                                        <th>Handover quantity</th>
                                        <th>Short/Excess</th>
                                        <th>Value</th>
                                        <th>Docs sent Courier No.</th>
                                        <th>Remarks</th>
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-if="orders.length == 0 || filtered.length == 0">
                                        <td colspan="41">No data found.</td>
                                    </tr>
                                    <tr ng-class-odd="'bg-color1'" dir-paginate="order in filtered = (orders| orderBy : sortKey : reverse | filter : search_filter | itemsPerPage : num_of_items) " ng-cloak>

                                        <th><a href="#/buying/orders/{{ order.id }}" >{{ order.style }}</a></th>
                                        <th>{{ order.merchandiser_first_name }} {{ order.merchandiser_last_name }}</th>
                                        <th>{{ order.ref }}</th>
                                        <th><img src="{{host}}uploaded_files/buying/orders/{{ order.sketch }}" width="80px"/></th>
                                        <th>{{ order.Gauge }}</th>
                                        <th>{{ order.yarn_ref_details }}</th>
                                        <th ng-bind-html="order.colors"></th>
                                        <th>{{ order.pi_date | filterDate }}</th>
                                        <th>Yarn status</th>
                                        <th>{{ order.contract_weight }}</th>
                                        <th>{{ order.buyer_name }}</th>
                                        <th ng-if="order.po != null"><a href="{{host}}uploaded_files/buying/orders/{{order.po}}" target="_blank" >View</a></th>
                                        <th ng-if="order.po== null">-</th>
                                        <th ng-if="order.po == null">-</th>
                                        <th ng-if="order.po != null">{{ order.po_recieved_date | filterDate }}</th>
                                        <th>{{ order.qty }}</th>
                                        <th>{{ order.sizing }}</th>
                                        <th>{{ order.main_label }}</th>
                                        <th>{{ order.hang_tag }}</th>
                                        <th>{{ order.accys_status }}</th>
                                        <th>{{ order.trims_status }}</th>
                                        <th>{{ order.handover_date | filterDate }}</th>
                                        <th ng-if="order.fit_sample_sent == null">-aa</th>
                                        <th ng-if="order.fit_sample_sent != null">{{ order.fit_sample_sent }}</th>
                                        <th ng-if="order.courier_no == ''">-</th>
                                        <th ng-if="order.courier_no != ''">{{ order.courier_no }}</th>
                                        <th>{{ order.fit_sample_comments }}</th>
                                        <th ng-if="order.fg == ''">-</th>
                                        <th ng-if="order.fg != ''">{{ order.fg }}</th>
                                        
                                        <th ng-if="order.production_status_details == ''">-</th>
                                        <th ng-if="order.production_status_details != ''">{{ order.production_status_details }}</th>
                                        <th ng-if="order.production_condition == ''">-</th>
                                        <th ng-if="order.production_condition != ''">{{ order.production_condition }}</th>

                                        <th ng-if="order.photo_sample== null"><img src="{{host}}uploaded_files/buying/orders/no_image.jpg" width="80px"/></th>
                                        <th ng-if="order.photo_sample!= null"><img src="{{host}}uploaded_files/buying/orders/{{ order.photo_sample }}" width="80px"/></th>
                                        <th ng-if="order.shipping_sample_required == ''">-</th>
                                        <th ng-if="order.shipping_sample_required != ''">{{ order.shipping_sample_required }}</th>
                                        
                                        <th ng-if="order.shipping_sample_sent == ''">-</th>
                                        <th ng-if="order.shipping_sample_sent != ''">{{ order.shipping_sample_sent }}</th>
                                        <th ng-if="order.shipping_sent_courier_no == ''">-</th>
                                        <th ng-if="order.shipping_sent_courier_no != ''">{{ order.shipping_sent_courier_no }}</th>
                                        
                                        <th ng-if="order.shipping_sample_comments == ''">-</th>
                                        <th ng-if="order.shipping_sample_comments != ''">{{ order.shipping_sample_comments }}</th>
                                        
                                        <th>{{ order.actual_production_weight }}</th>
                                        <th>{{ order.confirmed_price }}</th>
                                        <th ng-if="order.inspection_date != null">{{ order.inspection_date | filterDate }}</th>
                                        <th ng-if="order.inspection_date == null"> -  </th>
                                        <th ng-if="order.inspection_status == ''">-</th>
                                        <th ng-if="order.inspection_status != ''">{{ order.inspection_status }}</th>
                                        
                                        <th ng-if="order.handedover_date != null">{{ order.handedover_date | filterDate }}</th>
                                        <th ng-if="order.handedover_date == null">-  </th>
                                        <th>{{ order.handedover_qty }}</th>
                                        <th ng-if="order.handedover_qty != null">{{ order.handedover_qty - order.qty  }}</th>
                                        <th ng-if="order.handedover_qty == null">-</th>
                                        <th>{{ order.confirmed_price * order.handedover_qty }}</th>
                                        <th ng-if="order.doc_sent_courier_no == NULL">-</th>
                                        <th ng-if="order.doc_sent_courier_no != NULL">{{ order.doc_sent_courier_no }}</th>
                                        <th ng-if="order.remarks == NULL">-</th>
                                        <th ng-if="order.remarks != NULL">{{ order.remarks }}</th>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="col-sm-12 text-center">
                                    <dir-pagination-controls
                                            direction-links="true" auto-hide="false"
                                            boundary-links="true" >
                                    </dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="add-order-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Add Order</h3>
                    </div>
                    <div class="modal-body">
                        <form method="post" enctype="multipart/form-data" name="myForm" novalidate>
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Style </label>
                                        <input class="form-control" placeholder="Style" type="text" ng-model="order.style_id" ng-required="true"/>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Ref. </label>
                                        <input class="form-control" placeholder="Reference" type="text" ng-model="order.ref" ng-required="true"/>
                                    </div>
                                </div>
                            </div>
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Dyeing order/P.I date</label>
                                        <input class="form-control calender" placeholder="Dyeing order/P.I date" type="text" ng-model="order.pi_date" ng-required="true" ng-pattern="/^\d{4}-\d{2}-\d{2}$/" />
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Handover Date </label>
                                        <input class="form-control calender" type="text" placeholder="Handover Date" ng-model="order.handover_date" ng-required="true" ng-pattern="/^\d{4}-\d{2}-\d{2}$/" />
                                    </div>
                                </div>
                            </div>
                            <div class="formSep">
                                
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label>Gauge</label>
                                        <input class="form-control" placeholder="Gauge" type="text" ng-model="order.order_gg" ng-pattern="/^\d+$/" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Yarn(Ref. Details)</label>
                                        <input class="form-control" placeholder="Yarn(Ref. Details)" type="text" ng-model="order.yarn_ref" ng-required="true" ng-pattern="/^\d+$/"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Contract weight</label>
                                        <input class="form-control" placeholder="Contract weight" type="text" ng-model="order.contract_weight" ng-required="true" ng-pattern="/^\d+$/"/>
                                    </div>
                                </div>
                            </div>
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label>Qty</label>
                                        <input class="form-control" placeholder="Qty" type="text" ng-model="order.order_qty" ng-required="true" ng-pattern="/^\d+$/"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Sizing</label>
                                        <input class="form-control" placeholder="Sizing" type="text" ng-model="order.sizing" ng-required="true"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Main Label</label>
                                        <input class="form-control" placeholder="Main Label" type="text" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-model="order.main_label"  />
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Hang Tag</label>
                                        <input class="form-control" placeholder="Hang Tag" type="text" ng-model="order.hang_tag" ng-pattern="/^\d+$/" />
                                    </div>
                                </div>
                            </div>
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <code>Sketch</code>
                                        <img ngf-thumbnail="myfile.image"><br><br>
                                        <div class="button" ngf-select ng-model="myfile.image" name="file" ngf-pattern="'image/*'"
                                             ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                                             ngf-resize="{width: 300, height: 300}">
                                            <button class="btn btn-success">Upload Sketch</button>
                                        </div>
                                        <i ng-show="myForm.file.$error.required">*required</i><br>
                                        <i ng-show="myForm.file.$error.maxSize">File too large
                                            {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</a>
                                <button type="submit" name="commit" class="btn btn-success" ng-click="add_buying_order(myForm, myfile)"><span class="glyphicon glyphicon-ok-sign"></span> Add Order </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="remove-order-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Remove Style</h3>
                    </div>
                    <div class="modal-body">
                        {{ modal_msg }}
                        <div class="modal-footer">
                            <a class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</a>
                            <button type="submit" name="commit" class="btn btn-success" ng-click="remove_order_confirmed(order_id, 'index_page', status)" style_id=""><span class="glyphicon glyphicon-ok-sign"></span> Yes </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="removal-warning-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Remove Style</h3>
                    </div>
                    <div class="modal-body">
                        Please Select at least one style.
                        <div class="modal-footer">
                            <a class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> OK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">    $(document).ready(function(){
        $('.calender').datepicker();
        $('.calender').change(function(){
             var date = new Date($('.calender').val());
             if(Number(date.getDate()) < 10)
                var day = "0"+date.getDate();
             else
                var day = date.getDate();

             date = date.getFullYear()+"-"+ date.getMonth()+1 + "-" + day
             $(this).val(date)
        })
        $(".chzn-select").chosen();
        $('.select2js').select2();
    });

</script>
