<div class="row col-sm-12">
    <h3 class="heading" ng-cloak>{{ page_title }}</h3>
</div>
<div class="row" ng-cloak>
    <div class="col-sm-12 col-md-12">
        <div class="col-sm-8">
            <div class="w-box" id="w_sort01">
                <div class="w-box-header">
                    <div class="pull-left">
                        Total Orders: {{filtered.length}}
                    </div>
                    <div class="pull-right">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle btn-success btn-xs" data-toggle="dropdown" href="#" target="_self">
                                <i class="glyphicon glyphicon-cog"></i> Action <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-if="loginUser.emp_role==1"><a data-toggle="modal" href="#add-order-modal" target="_self"><span class="glyphicon glyphicon-plus-sign"></span> Add</a></li>
                                <li ng-if="loginUser.emp_role==1"><a style="cursor:pointer;"  target="_self" ng-click="remove_order(0, 'index_page', 'selected')"><span class="glyphicon glyphicon-trash"></span> Delete Seleted</a></li>
                                <li ng-if="loginUser.emp_role==1"><a style="cursor:pointer;" target="_self" ng-click="remove_order(0, 'index_page', 'all')"><span class="glyphicon glyphicon-repeat"></span> Delete All</a></li>
                                <li><a style="cursor: pointer;" target="_self" ng-click="reloadData()"><span class="glyphicon glyphicon-refresh"></span> Refresh </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-box-content cnt_a">
                    <div id="main-content">
                        <div class="row">
                            <div class="col-sm-4 text-left">
                                <input type="text" class="form-control" placeholder="Search" ng-model="search_filter">
                            </div>
                            <div class="col-sm-8 text-right">
                                <select  class="inline-search" style="width: 25%;" ng-model="num_of_items" name="num_of_items" ng-options="num.id as num.value for num in num_of_items_arr ">
                                    <option value="">Show</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"  style="overflow-x: auto;">
                                <div class="row col-sm-12 text-center">
                                    <span style="border:1px solid #000;background-color: #00557F; color: white">&nbsp; Processing &nbsp;</span>&nbsp;
                                    <span style="border:1px solid #000;background-color: darkred; color: white">&nbsp; Cancelled &nbsp;</span>&nbsp;
                                    <span style="border:1px solid #000;background-color: darkgreen; color: white">&nbsp; Shipped &nbsp;</span>&nbsp;
                                    <span style="border:1px solid #000;background-color: #f89406; color: white">&nbsp; Hold &nbsp;</span>&nbsp;
                                    <span style="border:1px solid #000;background-color: purple; color: white"> &nbsp;  Delivering Soon &nbsp; </span>&nbsp;
                                    <span style="border:1px solid #000;background-color: black; color: white"> &nbsp; Inactive &nbsp; </span>&nbsp;
                                </div>
                                <div class="col-sm-12 text-center">
                                    <dir-pagination-controls
                                            direction-links="true" auto-hide="false"
                                            boundary-links="true" >
                                    </dir-pagination-controls>
                                </div>
                                <table class="table table-responsive table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Style</th>
                                        <th>Ref</th>
                                        <th>Sketch/Pics</th>
                                        <th>Gauge</th>
                                        <th>Yarn (Ref details)</th>
                                        <th>Colors</th>
                                        <th>Solid/ Twist</th>
                                        <th>P.I date</th>
                                        <th>Yarn status</th>
                                        <th>Contract weight</th>
                                        <th>Customer</th>
                                        <th>P.O.</th>
                                        <th>P.O received date</th>
                                        <th>Qty</th>
                                        <th>Sizing</th>
                                        <th>Main Label</th>
                                        <th>Hang tag</th>
                                        <th>Accys status</th>
                                        <th>Trims & status</th>
                                        <th>Handover date</th>
                                        <th>Fit sample Sent</th>
                                        <th>Courier No.</th>
                                        <th>Fit sample Comments</th>
                                        <th>FG</th>
                                        <th>Production status details</th>
                                        <th>Production condition</th>
                                        <th>Photo/specl Sample</th>
                                        <th>Shipping Sample required</th>
                                        <th>Shipping Sample sent</th>
                                        <th>Courier No.</th>
                                        <th>Shipping sample comments</th>
                                        <th>Actual production weight</th>
                                        <th>Confirm price</th>
                                        <th>Inspection date</th>
                                        <th>Inspection status</th>
                                        <th>Handover date</th>
                                        <th>Handover quantity</th>
                                        <th>Short/Excess</th>
                                        <th>Value</th>
                                        <th>Docs sent Courier No.</th>
                                        <th>Remarks</th>
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-class-odd="'bg-color1'" dir-paginate="buyer in filtered = (buyers| orderBy : sortKey : reverse | filter : search_filter  | itemsPerPage : num_of_items) " ng-cloak>

                                        <th>Style</th>
                                        <th>Ref</th>
                                        <th>Sketch/Pics</th>
                                        <th>Gauge</th>
                                        <th>Yarn (Ref details)</th>
                                        <th>Colors</th>
                                        <th>Solid/ Twist</th>
                                        <th>P.I date</th>
                                        <th>Yarn status</th>
                                        <th>Contract weight</th>
                                        <th>Customer</th>
                                        <th>P.O.</th>
                                        <th>P.O received date</th>
                                        <th>Qty</th>
                                        <th>Sizing</th>
                                        <th>Main Label</th>
                                        <th>Hang tag</th>
                                        <th>Accys status</th>
                                        <th>Trims & status</th>
                                        <th>Handover date</th>
                                        <th>Fit sample Sent</th>
                                        <th>Courier No.</th>
                                        <th>Fit sample Comments</th>
                                        <th>FG</th>
                                        <th>Production status details</th>
                                        <th>Production condition</th>
                                        <th>Photo/specl Sample</th>
                                        <th>Shipping Sample required</th>
                                        <th>Shipping Sample sent</th>
                                        <th>Courier No.</th>
                                        <th>Shipping sample comments</th>
                                        <th>Actual production weight</th>
                                        <th>Confirm price</th>
                                        <th>Inspection date</th>
                                        <th>Inspection status</th>
                                        <th>Handover date</th>
                                        <th>Handover quantity</th>
                                        <th>Short/Excess</th>
                                        <th>Value</th>
                                        <th>Docs sent Courier No.</th>
                                        <th>Remarks</th>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="col-sm-12 text-center">
                                    <dir-pagination-controls
                                            direction-links="true" auto-hide="false"
                                            boundary-links="true" >
                                    </dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4" ng-include="'views/production/partials/orders_stats.html'"></div>

        <div class="modal fade" id="add-order-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Add Order</h3>
                    </div>
                    <div class="modal-body">
                        <form method="post" enctype="multipart/form-data" name="myForm" novalidate>
                            <input type="hidden" ng-model="order.compositions" />
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Style </label>
                                        <input class="form-control" placeholder="Style" type="text" ng-model="order.style_id" ng-required="true"/>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Ref. </label>
                                        <input class="form-control" placeholder="Reference" type="text" ng-model="order.ref" ng-required="true"/>
                                    </div>
                                </div>
                            </div>
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Dyeing order/P.I date</label>
                                        <input class="form-control calender" placeholder="Dyeing order/P.I date" type="text" ng-model="order.pi_date" ng-required="true" ng-pattern="/^\d{4}-\d{2}-\d{2}$/" />
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Handover Date </label>
                                        <input class="form-control calender" type="text" placeholder="Handover Date" ng-model="order.handover_date" ng-required="true" ng-pattern="/^\d{4}-\d{2}-\d{2}$/" />
                                    </div>
                                </div>
                            </div>
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label>Gauge</label>
                                        <input class="form-control" placeholder="Gauge" type="text" ng-model="order.order_gg" ng-pattern="/^\d+$/" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Yarn(Ref. Details)</label>
                                        <input class="form-control" placeholder="Yarn(Ref. Details)" type="text" ng-model="order.yarn_ref" ng-required="true" ng-pattern="/^\d+$/"/>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Customer</label>
                                        <select class="inline-search" style="width: 85%;" ng-model="order.customer" ng-pattern="/^\d+$/" ng-required="true">
                                            <option value="">Select a client</option>
                                            <option ng-repeat="buyer in buyers" value="{{buyer.id}}">
                                                {{ buyer.buyer_name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Color</label>
                                        <input class="form-control" placeholder="Color" type="text" ng-model="order.color" ng-pattern="/^\d+$/" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label>Qty</label>
                                        <input class="form-control" placeholder="Qty" type="text" ng-model="order.order_qty" ng-required="true" ng-pattern="/^\d+$/"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Sizing</label>
                                        <input class="form-control" placeholder="Sizing" type="text" ng-model="order.sizing" ng-required="true"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Main Label</label>
                                        <input class="form-control" placeholder="Main Label" type="text" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-model="order.main_label"  />
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Hang Tag</label>
                                        <input class="form-control" placeholder="Hang Tag" type="text" ng-model="order.hang_tag" ng-pattern="/^\d+$/" />
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="formSep">
                                <code>Image</code>
                                <img ngf-thumbnail="myfile"><br><br>
                                <div class="button" ngf-select ng-model="myfile" name="file" ngf-pattern="'image/*'"
                                     ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                                     ngf-resize="{width: 100, height: 100}"><button class="btn btn-success">Upload Image</button>
                                </div>
                                <i ng-show="myForm.file.$error.required">*required</i><br>
                                <i ng-show="myForm.file.$error.maxSize">File too large
                                    {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</a>
                                <button type="submit" name="commit" class="btn btn-success" ng-click="add_buying_order(myForm, myfile)"><span class="glyphicon glyphicon-ok-sign"></span> Add Order </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="remove-order-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Remove Style</h3>
                    </div>
                    <div class="modal-body">
                        {{ modal_msg }}
                        <div class="modal-footer">
                            <a class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</a>
                            <button type="submit" name="commit" class="btn btn-success" ng-click="remove_order_confirmed(order_id, 'index_page', status)" style_id=""><span class="glyphicon glyphicon-ok-sign"></span> Yes </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>,

        <div class="modal fade" id="removal-warning-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Remove Style</h3>
                    </div>
                    <div class="modal-body">
                        Please Select at least one style.
                        <div class="modal-footer">
                            <a class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> OK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/custom-select2.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.calender').datepicker( "option", "dateFormat", "yy-mm-dd" );
    });

</script>
