<div class="row col-sm-12">
    <h3 class="heading">{{ page_title }}</h3>
</div>
<div class="row" ng-init="init(order_id)" ng-cloak>
    <div class="col-sm-12 col-md-12">
        <div class="col-sm-8">
            <div class="w-box" id="w_sort01">
                <div class="w-box-header">
                    <div class="pull-left">
                        Order ID: {{ order_details[0].id }}
                    </div>
                    <div class="pull-right">
                        <div class="btn-group">
                            <a target="_self" class="btn dropdown-toggle btn-success btn-xs" data-toggle="dropdown" href="#">
                                <i class="glyphicon glyphicon-cog"></i> Action <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#/production/orders" target="_top"><span class="glyphicon glyphicon-arrow-left"></span> Cancel</a></li>
                                <li ng-if="loginUser.emp_role==1" ><a class="th-pointer" ng-click="remove_order(order_id, order_details[0].order_name, 'single_delete')"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-box-content cnt_a">
                    <div id="main-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-responsive table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th width='25%'>Buyer: </th>
                                        <td><span class="col-sm-10">{{ order_details[0].buyer.buyer_name }}</span></td>
                                        <th width='25%'>Style: </th>
                                        <td><span class="col-sm-10 wordwrap">{{ order_details[0].style.style_name }} </span></td>
                                    </tr>

                                    <tr>
                                        <th width='25%'>Order Date: </th>
                                        <td><span class="col-sm-10">{{ order_details[0].order_date | uppercase }} </span></td>
                                        <th width='25%'>GG: </th>
                                        <td><span class="col-sm-10">{{ order_details[0].gg }} </span></td>
                                    </tr>

                                    <tr>
                                        <th width='25%'>Qty: </th>
                                        <td><span class="col-sm-10">{{ order_details[0].qty }} </span></td>
                                        <th width='25%'>FOB: </th>
                                        <td><span class="col-sm-10">{{ order_details[0].fob }} </span></td>
                                    </tr>

                                    <tr>
                                        <th width='25%'>Weight Per Dzn: </th>
                                        <td><span class="col-sm-10">{{ order_details[0].weight_per_dzn }} </span></td>
                                        <th width='25%'>Qty Per Dzn: </th>
                                        <td><span class="col-sm-10">{{ order_details[0].qty_per_dzn }} </span></td>
                                    </tr>
                                    <tr>

                                    </tr>
                                    <tr>
                                        <th width='25%'>Total Yarn Weight: </th>
                                        <td><span class="col-sm-10">{{ order_details[0].total_yarn_weight }} </span></td>
                                        <th width='25%'>Total Yarn Cost: </th>
                                        <td><span class="col-sm-10">{{ order_details[0].total_yarn_cost }} </span></td>
                                    </tr>
                                    <tr>
                                        <th width='25%'>Compositions: </th>
                                        <td colspan="3"><span>
                                                <table class="table table-responsive">
                                                    <tr>
                                                        <td class="bg bg-primary">Yarn</td>
                                                        <td class="bg bg-primary">Percentage</td>
                                                        <td class="bg bg-primary">Yarn Rate</th>
                                                        <td class="bg bg-primary">Wastage(%)</td>
                                                        <td class="bg bg-primary">Cost</td>
                                                    </tr>
                                                    <tr ng-repeat="item in order_details['composition']">
                                                        <td>{{ item[0] }}</td>
                                                        <td>{{ item[1] }}</td>
                                                        <td>{{ item[2] }}</td>
                                                        <td>{{ item[3] }}</td>
                                                        <td>{{ order_details[0].qty_per_dzn * order_details[0].weight_per_dzn * item[1]/100 * item[2] * (1+item[3]/100) | currency }}</td>
                                                    </tr>
                                                </table>
                                            </span></td>
                                    </tr>
                                    <tr>
                                        <th width='25%'>Items: </th>
                                        <td colspan="3"><span>
                                                <table class="table table-responsive">
                                                    <tr>
                                                        <td class="bg bg-primary">&nbsp;</td>
                                                        <td class="bg bg-primary">Accessories</td>
                                                        <td class="bg bg-primary">Button</td>
                                                        <td class="bg bg-primary">Zipper</td>
                                                        <td class="bg bg-primary">Print</td>
                                                        <td class="bg bg-primary">Security Tag</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="bg bg-primary">Rate</td>
                                                        <td>{{ order_details[0].acc_rate }}</td>
                                                        <td>{{ order_details[0].btn_cost }}</td>
                                                        <td>{{ order_details[0].zipper_cost }}</td>
                                                        <td>{{ order_details[0].print_cost }} </td>
                                                        <td>{{ order_details[0].security_tag_cost }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="bg bg-primary">Total Cost</td>
                                                        <td>{{ order_details[0].total_acc_cost  }} </td>
                                                        <td>{{ order_details[0].total_btn_cost }}</td>
                                                        <td>{{ order_details[0].total_zipper_cost }}</td>
                                                        <td>{{ order_details[0].total_print_cost }}</td>
                                                        <td>{{ order_details[0].total_security_tag_cost }}</td>
                                                    </tr>
                                                </table>
                                            </span></td>
                                    </tr>
                                    <tr>
                                        <th width='25%'>Total FOB: </th>
                                        <td><span class="col-sm-10">{{ order_details[0].total_fob }} </span></td>
                                        <th width='25%'>Total Cost: </th>
                                        <td><span class="col-sm-10">{{ order_details[0].total_cost  }} </span></td>
                                    </tr>
                                    <tr>
                                        <th width='25%'>Balance Amount: </th>
                                        <td><span class="col-sm-10">{{ order_details[0].balance_amount  }} </span></td>
                                        <th width='25%'>Cost of Making: </th>
                                        <td><span class="col-sm-10">{{ order_details[0]. cost_of_making  }} </span></td>
                                    </tr>
                                    <tr >
                                        <th width='25%'>L/C Confirmed?: </th>
                                        <td ng-if="order_details[0].lc_confirmed == 0"><span class="col-sm-10">Not Yet </span></td>
                                        <td ng-if="order_details[0].lc_confirmed > 0"><span class="col-sm-10">Yes </span></td>
                                        <th width='25%'>Created By: </th>
                                        <td><span class="col-sm-10">{{ order_details[0].user.first_name | uppercase }} {{ order_details[0].user.last_name | uppercase }} </span></td>
                                    </tr>
                                    <tr>
                                        <th width='25%'>Created At: </th>
                                        <td><span class="col-sm-10">{{ order_details[0].created_at | filterDate }} </span></td>
                                        <th width='25%'>Updated At: </th>
                                        <td><span class="col-sm-10">{{ order_details[0].updated_at | filterDate }} </span></td>
                                    </tr>
                                    <tr>
                                        <th width='25%'>Image: </th>
                                        <td colspan="3"><img src="{{host}}uploaded_files/production/orders/{{order_details[0].image }}" width="150px"></td>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4" ng-include="'views/production/partials/orders_summery.html'"></div>
        <div class="modal fade" id="remove-order-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Remove Order</h3>
                    </div>
                    <div class="modal-body">
                        {{ modal_msg }}
                        <div class="modal-footer">
                            <a class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</a>
                            <button type="submit" name="commit" class="btn btn-success" ng-click="remove_order_confirmed(order_id, 'show_page', status)" order_id=""><span class="glyphicon glyphicon-ok-sign"></span> Yes </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="removal-warning-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Remove Order</h3>
                    </div>
                    <div class="modal-body">
                        Please Select at least one order.
                        <div class="modal-footer">
                            <a class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> OK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="edit-order-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Edit Order</h3>
                    </div>
                    <div class="modal-body">
                        <form name="myForm" method="post" enctype="multipart/form-data" novalidate>
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <code> {{ editable_item }} </code> <span style="color:red">*</span>
                                        <div class="row">
                                            &nbsp;&nbsp;
                                        </div>
                                        <input class="form-control" placeholder="{{ editable_item }}" name="this_field" type="{{ field_type }}" ng-required="{{ is_required }}" ng-minlength="{{ min_length }}" ng-maxlength="{{ max_length }}" ng-pattern="{{ pattern }}" ng-model="type"/>
                                        <span class="help-block " ng-show="myForm.this_field.$dirty && myForm.this_field.$invalid">{{ error_text }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</a>
                                <button type="submit" name="commit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="edit_order_confirmed(order_id)"><span class="glyphicon glyphicon-ok-sign"></span> Edit  </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>